POSTGRES_DB=wallets_api
POSTGRES_USER=wallets_api
POSTGRES_PASSWORD=password

DB_USER=${POSTGRES_USER}
DB_PASSWORD=${POSTGRES_PASSWORD}
DB_NAME=${POSTGRES_DB}
TEST_DB_HOST=test_db
DB_HOST=db
DB_PORT="5432"
