DATABASE_URL=postgres://wallets_api:password@db:5432/wallets_api_dev?sslmode=disable
TEST_DATABASE_URL=postgres://wallets_api:password@test_db:5432/wallets_api_test?sslmode=disable
POSTGRES_DB=wallets_api
POSTGRES_USER=wallets_api
POSTGRES_PASSWORD=password
